.center {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
 
}

table {
    width: 90vh;
  }

  .Low{
    color: yellow;
  }

  .Medium{
    color: orange;
  }

  .Critical{
    color: red;
  }